
body {
    background-color: rgb(253, 251, 251);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.1;
    color: rgb(0,0,0,0.9);

}
.botao {
    background-color: white;
    padding: 1px;
    margin-left: 5px;
    text-decoration: none;
}
a:hover {
    background-color: greenyellow;
}
main {
    margin-top: 100px;
}

#cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: green;
}
#titulo {
    text-align: center;
    font-size: 25px;
}
ol, ul {
    list-style: none;
}

#minha_foto {
    width: 200px;
    border-radius: 50%;
    float: right;
    margin-top: 50px;
    margin-right: 250px;   
}
.lado-esquerdo {
    position:;
    display: inline-block;
    width: 200px;
    margin: auto
}
.lado-direito {
    display: inline-block;
    width: 200px;
}

#rodape {
    text-align: end;
    font-size: 12px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-top: 1px solid black        }

